extends layout

block content
  if(user) 
    .hero
      h1 Welcome back, #{user.username}
      a(href="/chat").sty-link Enter chat
  else
    .hero
      h1 Chatty 
      .hero-links
        a(href="/signup").sty-link Sign up 
        a(href="/login").sty-link Login
