extends layout

block content
    .chat
        .message-body
            if (user)
                if (user.isAdmin)
                    p #{message.text}
                    form(action=`/chat/${message.id}` method='DELETE') 
                        button(type = "submit") Delete
            else 


    .add-message
        form(action="/chat" method="POST") 
            .add-group 
                label(for="message") 
                input(type="text" required name="message")

                button.sty-button Add
