extends layout

block content
    .sty-signup 
        form(action="" method="POST").sty-form
            .form-group
                label(for="username") Username 
                input(type="text" name="username" required value= (undefined === user 
                ? '' 
                : user.username)) 
            .form-group
                label(for="email") Email 
                input(type="email" name="email" required value= (undefined === user 
                ? '' 
                : user.email)) 
            .form-group
                label(for="password") Password 
                input(type="password" name = "password" required )
            .form-group 
                //-  Should make this actually work later...
                label(for="password-confirm") Confirm Password 
                input(type="password" name="password-confirm" required)  

            button.sty-button Submit
        a(href="/login").sty-link Have an account? Sign in
        if errors
            ul
                for error in errors
                    li!= error.msg
