@mixin sm {
  @media screen AND (max-width: 599px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin link {
  text-decoration: none;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 250ms;
  border-bottom: 4px solid transparent;
  &:hover {
    border-bottom: 4px solid $p3;
  }
}

@mixin btn {
  border-style: none;
  color: $p4;
  max-width: 10ch;
  background-color: $p5;
  text-align: center;
  align-self: center;
  padding: 12px;
  margin-top: 18px;
  font-size: 24px;
  cursor: pointer;
  transition: 250ms;
  border-bottom: 4px solid transparent;
  &:hover {
    border-bottom: 4px solid $p4;
  }
}

// colors

$p1: #333;
$p2: #010;
$p3: #91db5f;
$p4: #fcfcfc;
$p5: #2e8315;
$p6: #e7e40e;
$p7: #64a538;

:root {
  font-family: "Noto Sans", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: $p1;
  color: $p4;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: $p5;
  }
}

.sty-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.sty-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  min-width: 50%;
  background-color: #222222;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

input {
  background-color: #222;
  color: #fff;
  padding: 8px;
  border-style: none;
  border-bottom: 2px solid #fff;
}

.sty-link {
  @include link;
  margin-top: 12px;
  background-color: #3b3d39;
}

.sty-button {
  @include btn;
}

.sty-logo {
  @include link;
  font-family: "Titan One", sans-serif;
  font-size: 24px;
  color: $p6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 8px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.chat {
  display: flex;
  margin: 0px auto;
  flex-flow: column nowrap;
  overflow-y: auto;
  gap: 12px;
  padding: 12px;
  max-height: 70vh;
  max-width: 80%;
}

.message-body {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 8px;
  background-color: $p4;
  color: $p2;
  gap: 8px;
  font-size: 24px;
  padding: 12px;
}

.message-user {
  font-weight: 700;
}

.message-text {
}

.add-message {
  display: flex;
  justify-content: center;
}

.add-group {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    padding: 12px;
    margin-top: 18px;
    font-size: 24px;
  }
}

.sty-delete {
  @include btn;
  font-size: 18px;
  background-color: rgb(153, 54, 54);
  &:hover {
    border-bottom: 4px solid $p3;
  }
}
