@mixin sm {
  @media screen AND (max-width: 599px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

.root {
  padding: 0px;
  margin: 0px;
}

.sty-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sty-link {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}
